# SUSE specific configuration

# There are some requirements that are not a part of openSUSE/SLES and are provided by unofficial repositories.
# We will keep them seperate to prevent them from accidentally getting merged upstream.
yaml https://raw.githubusercontent.com/neotinker/rosdistro-suse/master/ros-infrastructure.yaml
yaml https://raw.githubusercontent.com/neotinker/rosdistro-suse/master/external_dependencies.yaml
